.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav-links{
    margin: 0 10px;
    text-decoration: none;
    color: white;
 }